{% extends 'bookapp/base.html' %}

{% block page %}
    <section class="link">
        <a href="{% url 'bookapp:new_ticket_and_review' %}">Créer une critique</a>
    </section>
    {% if tickets %}
        <ul>
        {% for ticket in tickets %}
            <li>
                <h2>{{ticket.title}}</h2>
                <p>{{ticket.description}}</p>
                <img src="{{media_url}}{{ticket.image}}">
                <a href="{% url 'bookapp:new_review' ticket.pk %}">Créer une critique</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Aucun tickets</p>
    {% endif %}
{% endblock %}