{% extends 'bookapp/base.html' %}
{% load sass_tags %}
{% load static %}

{% block extrahead %}
    <link href="{% sass_src 'css/feed.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page %}
    <main class="feed">
        <section class="feed_link">
            <a href="{% url 'bookapp:new_ticket' %}" class="btn btn-outline-primary">Créer ticket</a>
            <a href="{% url 'bookapp:new_ticket_and_review' %}" class="btn btn-outline-primary">Créer une critique</a>
        </section>
        <section class="feed_posts">
            {% if posts %}
                <ul>
                    {% for post in posts %}
                        {% if post.content_type == 'TICKET' %}
                            {% include 'snippet/ticket_snippet.html' %}
                        {% elif post.content_type == 'REVIEW' %}
                            {% include 'snippet/review_snippet.html' %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun posts</p>
            {% endif %}
        </section>
    </main>
{% endblock %}