{% extends 'bookapp/base.html' %}
{% load sass_tags %}
{% load static %}

{% block extrahead %}
    <link href="{% sass_src 'scss/home.scss' %}" rel="stylesheet" type="text/css" />
    <title>Se connecter</title>
{% endblock %}

{% block page %}
    {% if next %}
        <p>Vous ne pouvez pas accéder à cette page</p>
    {% endif %}
    <main class="home-page">
        <section class="home-page_register">
            <h2>Inscrivez-vous maintenant</h2>
            <a href="{% url 'bookapp:register' %}" class="btn btn-primary">S'inscrire</a>
        </section>
        <section class="home-page_separator"></section>
        <section class="home-page_login">
            <h2>Connectez-vous</h2>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <p>
                    <input type="text" name="username" autofocus="" autocapitalize="none" 
                    autocomplete="username" maxlength="150" required="" placeholder="Nom d'utilisateur" id="id_username">
                </p>
                <p>
                    <input type="password" name="password" autocomplete="current-password" 
                    required="" placeholder="Mot de passe" id="id_password">
                </p>

                <input type="submit" value="Se connecter" class="btn btn-primary">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </section>
    </main>
{% endblock %}