{% extends 'bookapp/base.html' %}
{% load sass_tags %}
{% load static %}

{% block extrahead %}
    <link href="{% sass_src 'css/review-form.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page %}
    <main class="review-form">
        <h2>Créer une critique</h2>
        <section class="review-form_ticket">
            <p>Vous êtes en train de poster en réponse à</p>
            <div>
                <p>{{ ticket.user.username }} a demandé une critique</p>
                <span>{{ ticket.time_created.time }}, {{ ticket.time_created.date }}</span>
                <p>{{ ticket.title }}</p>
                {% if ticket.body %}
                    <p>{{ ticket.body }}</p>
                {% endif %}
                {% if ticket.image %}
                    <img src="{{media_url}}{{ticket.image}}">
                {% endif %}
            </div>
        </section>
        <form method="post" action="{% url 'bookapp:new_review' ticket.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Envoyer">
        </form>
    </main>
{% endblock %}