{% extends 'bookapp/base.html' %}
{% load sass_tags %}
{% load static %}

{% block extrahead %}
    <link href="{% sass_src 'scss/review-form.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page %}
    <main class="ticket-review">
        <h2>Créer une critique</h2>
        <form method="post" action="{% url 'bookapp:new_ticket_and_review' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="ticket-review_ticket">
                <h3>Live / Article</h3>
                <div class="ticket-review_ticket_form">
                    {{ ticket_form.as_p }}
                </div>
            </div>
            <div class="ticket-review_review">
                <h3>Critique</h3>
                <div class="ticket-review_review_form">
                    {{ review_form.as_p }}
                </div>
                <div class="ticket-review_review_btn">
                    <input type="submit" value="Envoyer" class="btn btn-primary">
                </div>
            </div>
        </form>
    </main>
{% endblock %}