{% extends 'bookapp/base.html' %}
{% load sass_tags %}
{% load static %}

{% block extrahead %}
    <link href="{% sass_src 'scss/form.scss' %}" rel="stylesheet" type="text/css" />
    <title>Créer ticket</title>
{% endblock %}

{% block page %}
    <main class="ticket-form">
        <h2>Créer un ticket</h2>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {{ form.as_p }}
            <input type="submit" value="Envoyer" class="btn btn-primary">
        </form>
    </main>
{% endblock %}