{% extends 'bookapp/base.html' %}
{% load sass_tags %}
{% load static %}

{% block extrahead %}
    <link href="{% sass_src 'css/feed.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page %}
    <main class="page-posts">
        {% if posts %}
            <ul>
                {% for post in posts %}
                    {% if post.content_type == 'TICKET' %}
                        {% include 'snippet/post_ticket_snippet.html' %}
                    {% elif post.content_type == 'REVIEW' %}
                        {% include 'snippet/post_review_snippet.html' %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun posts</p>
        {% endif %}
    </main>
{% endblock %}