{% extends 'bookapp/base.html' %}
{% load sass_tags %}
{% load static %}

{% block extrahead %}
    <link href="{% sass_src 'css/form.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page %}
    <main class="ticket-form">
        <h2>Modifier un ticket</h2>
        <form method="POST" action="{% url 'bookapp:update_ticket' ticket.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Modifier">
        </form>
    </main>
{% endblock %}
