*{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    &:hover{
        color: white;
    }
}

header nav {
    background-color: rgb(32, 178, 232);
    height: 60px;
    display: flex;
    align-items: center;
    .nav_title {
        position: relative;
        display: flex;
        align-items: center;
        left: 43%;
        img {
            margin-right: 10px;
            width: 50px;
        }
    }
    .nav_links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        a{
            margin-right: 20px;
            font-size: 20px;
        }
    }
}

.feed {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_link {
        margin-bottom: 50px;
        a {
            border: 1px solid;
            padding: 5px;
        }
    }
}

.feed_posts, .page-posts{
    p {
        font-size: 18px;
    }
    .ticket {
        padding: 10px;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        img {
            width: 300px;
        }
    }
    .review {
        padding: 10px;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        &_ticket {
            margin-top: 10px;
            border: 1px solid;
            padding: 10px;
        }
    }
}

.page-posts{
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}