$primary-color: rgb(32, 178, 232);
$secondary-color: rgb(24, 133, 172);
$light-color: rgb(47, 47, 47);

*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    &:hover{
        color: white;
    }
}

header nav {
    background-color: $primary-color;
    height: 60px;
    display: flex;
    align-items: center;
    .nav_title {
        position: relative;
        display: flex;
        align-items: center;
        left: 43%;
        img {
            margin-right: 10px;
            width: 50px;
        }
    }
    .nav_links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        a{
            color: $light-color;
            margin-right: 20px;
            font-size: 20px;
            &:hover{
                color: white;
            }
        }
    }
}

.btn {
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    box-sizing: border-box;
}

.btn-light {
    padding: 10px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    box-sizing: border-box;
}

.btn-medium {
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

.btn-primary{
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: white;
    box-sizing: border-box;
    &:hover{
        border: 1px solid $primary-color;
        color: $primary-color;
        background-color: white;
        box-sizing: border-box;
    }
}

.btn-outline-primary{
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: white;
    box-sizing: border-box;
    &:hover{
        border: 1px solid $primary-color;
        background-color: $primary-color;
        color: white;
        box-sizing: border-box;    
    }
}