* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    color: white; }

header nav {
  background-color: #20b2e8;
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center; }
  @media (max-width: 1050px) {
    header nav {
      height: 80px;
      flex-direction: column;
      justify-content: center; } }
  header nav .nav_title {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    @media (max-width: 1050px) {
      header nav .nav_title {
        position: relative; } }
    header nav .nav_title img {
      margin-right: 10px;
      width: 50px; }
  header nav .nav_links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    overflow: visible;
    z-index: 1; }
    @media (max-width: 1050px) {
      header nav .nav_links {
        margin-top: 5px;
        justify-content: center; } }
    header nav .nav_links a {
      color: #2f2f2f;
      margin-right: 20px;
      font-size: 20px; }
      header nav .nav_links a:hover {
        color: white; }

.btn {
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  box-sizing: border-box; }

.btn-light {
  padding: 10px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
  box-sizing: border-box; }

.btn-medium {
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box; }

.btn-primary {
  border: 1px solid #20b2e8;
  background-color: #20b2e8;
  color: white;
  box-sizing: border-box; }
  .btn-primary:hover {
    border: 1px solid #20b2e8;
    color: #20b2e8;
    background-color: white;
    box-sizing: border-box; }

.btn-outline-primary {
  border: 1px solid #20b2e8;
  color: #20b2e8;
  background-color: white;
  box-sizing: border-box; }
  .btn-outline-primary:hover {
    border: 1px solid #20b2e8;
    background-color: #20b2e8;
    color: white;
    box-sizing: border-box; }

.feed {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .feed_link {
    position: sticky;
    top: 60px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: white;
    margin-bottom: 50px;
    box-shadow: 0px 24px 9px -21px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 24px 9px -21px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 24px 9px -21px rgba(0, 0, 0, 0.55); }
    @media (max-width: 1050px) {
      .feed_link {
        top: 80px; } }
    .feed_link a {
      margin: 0 10px;
      border: 1px solid;
      padding: 10px; }

.feed_posts p, .page-posts p {
  font-size: 17px; }

.feed_posts .ticket, .page-posts .ticket {
  width: 600px;
  margin-bottom: 20px;
  border: 1px solid #20b2e8;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .feed_posts .ticket h2, .page-posts .ticket h2 {
    margin-bottom: 15px; }
  .feed_posts .ticket p, .page-posts .ticket p {
    margin-bottom: 20px; }
  .feed_posts .ticket_date, .page-posts .ticket_date {
    font-size: 13px;
    color: #20b2e8; }
  .feed_posts .ticket_header, .page-posts .ticket_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .feed_posts .ticket_header span, .page-posts .ticket_header span {
      color: #20b2e8; }
  .feed_posts .ticket img, .page-posts .ticket img {
    height: 250px;
    margin-bottom: 10px; }
  .feed_posts .ticket span, .page-posts .ticket span {
    width: 100%; }
    .feed_posts .ticket span a, .page-posts .ticket span a {
      float: right; }

.feed_posts .review, .page-posts .review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #20b2e8;
  margin-bottom: 20px;
  width: 600px; }
  .feed_posts .review_ticket, .page-posts .review_ticket {
    width: 550px;
    margin-top: 10px;
    border: 1px solid #20b2e8;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .feed_posts .review_ticket h2, .page-posts .review_ticket h2 {
      margin-bottom: 10px; }
    .feed_posts .review_ticket p, .page-posts .review_ticket p {
      margin-bottom: 10px; }
    .feed_posts .review_ticket_date, .page-posts .review_ticket_date {
      font-size: 13px;
      color: #20b2e8; }
    .feed_posts .review_ticket_header, .page-posts .review_ticket_header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .feed_posts .review_ticket_header span, .page-posts .review_ticket_header span {
        color: #20b2e8; }
    .feed_posts .review_ticket img, .page-posts .review_ticket img {
      height: 180px;
      margin-bottom: 10px; }
    .feed_posts .review_ticket span, .page-posts .review_ticket span {
      width: 100%; }
      .feed_posts .review_ticket span a, .page-posts .review_ticket span a {
        float: right; }
  .feed_posts .review_post, .page-posts .review_post {
    width: 580px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .feed_posts .review_post p, .page-posts .review_post p {
      margin-bottom: 10px; }
    .feed_posts .review_post_date, .page-posts .review_post_date {
      font-size: 13px;
      color: #20b2e8; }
    .feed_posts .review_post_title, .page-posts .review_post_title {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      .feed_posts .review_post_title span, .page-posts .review_post_title span {
        margin: 0 10px; }
      .feed_posts .review_post_title img, .page-posts .review_post_title img {
        height: 20px; }
    .feed_posts .review_post_header, .page-posts .review_post_header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }

.page-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 110px 0 50px 0; }
  .page-posts .btn-group {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .page-posts .btn-group a {
      margin: 10px 10px 0 0; }

/*# sourceMappingURL=feed.css.map */