@import "./base.scss";

.sub {
    @include center;
    margin: 110px 0 50px 0;
    &_search{
        @include center;
        form {
            margin-top: 30px;
            input[type=text] {
                border: 1px solid $primary-color;
                border-radius: 8px;
                padding: 0 10px;
                width: 400px;
                height: 50px;
                margin-right: 10px;
            }
            .btn {
                padding: 11px;
            }
        }
    }
    &_follow {
        margin-top: 50px;
        @include center;
        ul {
            margin-top: 40px;
            li {
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 490px;
                border: 1px solid $primary-color;
                border-radius: 8px;
                padding: 5px 15px;
            }
        }
    }
    &_followers {
        margin-top: 50px;
        @include center;
        ul {
            margin-top: 40px;
            li {
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 490px;
                border: 1px solid $primary-color;
                border-radius: 8px;
                padding: 10px 15px;
            }
        }
    }
}